.advantages{
  display: flex;
  color: #1C1D20;
  padding: 120px 0;
  .wrap{
    flex-direction: column;
  }
  .reverse{
    flex-direction: column-reverse;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    h2 {
      font-size: 42px;
      line-height: 50px;
      margin: 0 24px;
    }

    .icon {
      width: 64px;
      height: 12px;
    }

  }

  &__cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 24px;
  }
  &__card{
      width: 384px;
      max-height: 468px;
      background: #F6F6FA;
      border-radius: 24px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;
    &-info{
      padding: 24px;
    }
    &-title{
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 8px;
    }

    img{
      border-radius: 24px;
    }
  }
}
@media screen and (max-width: 1440px) {
  .advantages__cards {
    justify-content: center;
    gap: 24px;
  }
}
@media screen and (max-width: 1024px) {
  .advantages{
    padding: 72px 0;
    &__card {
      width: 45%;
    }
    &__header {
      padding-bottom: 40px;
      h2{
        font-size: 32px;
        line-height: 48px;
      }
    }
    .reverse{
      flex-direction: column;
    }
    .wrap{
      padding: 0 40px;
    }
  }
}

@media screen and (max-width: 768px) {
  .advantages__header {
    h2 {
      font-size: 24px;
    }
  }
}
@media screen and (max-width: 576px) {
  .advantages{
    padding: 40px 0;
    &__cards {
      justify-content: center;
      gap: 24px;
      flex-direction: column;
      height: 450px;
      overflow-x: scroll;
      overflow-y: hidden;
    }
    &__header{
      padding-bottom: 32px;
      .icon{
        display: none;
      }
    }
    &__card {
      width: 70%;
    }
    .wrap{
      padding: 0 24px;
    }
  }
}
@media screen and (max-width: 450px) {
  .advantages{
    &__card {
      width: 100%;
    }
  }
}