@import
'fonts',
'main',
'welcome',
'traiter',
'advantages',
'trips',
'trip-builder',
'gallery',
'feedback',
'footer',
'tour',
'corporate',
'tours';
html {
  scroll-behavior: smooth;
}
body{
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.12px;
  display: flex;
  flex-direction: column;
  a,a:active,a:link,a:visited{
    text-decoration: none;
  }
  a:hover{
    transition: color .3s, background-color .3s, box-shadow .4s;
  }
  .icon:hover{
    transition: fill .3s;
  }
  .v-application{
     font-family: 'Manrope', sans-serif !important;
     background: transparent !important;
   }
  .wrap {
      display: flex;
      position: relative;
      max-width: 1200px;
      width: 100%;
      margin-right: auto;
      margin-left: auto;
    }
}
h1,h2,h3,h4,h5{
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}
.currency{
  height: 40px;
  width: 40px;
}
.header {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.24);
  height: 64px;
  z-index: 1;
  .wrap{
    justify-content: space-between;
  }
  a {
    color: #ffffff;
  }
  nav {
    display: flex;
    align-items: center;
  }

  .logo {
    width: 120px;
    margin-right: 40px;

    a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: 'Exo 2', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;

      .icon {
        height: 36px;
      }
    }
  }

  &__menu {
    display: flex;
    flex-direction: row;

    li {
      list-style-type: none;
      margin-right: 24px;

      a {
        padding-bottom: 17px;
        font-weight: 600;
        &:hover {
          border-bottom: 3px solid #fff;
        }
      }
    }
  }

  &__social-media{
    display: flex;
    align-items: center;
    &_links{
      padding-right: 24px;
      display: flex;
      align-items: center;
      border-right: 1px solid rgba(255, 255, 255, 0.24);
      a{
        margin: 0 8px;
      }
    }
    .icon{
      fill: #E5EFFF;
      width: 40px;
      height: 40px;
      &:hover{
        fill: #CDE0FF;
      }
    }
  }
  &__currencies{
    margin-left: 32px;
    display: flex;
    align-items: center;
    .icon{
      height: 16px;
    }
  }
}