@import 'main', 'welcome', 'traiter', 'advantages';
body{
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.12px;
  a{
    text-decoration: none;
  }
  .v-application{
     font-family: 'Manrope', sans-serif !important;
     background: transparent !important;
   }
}
h1,h2,h3,h4,h5{
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}
.container {
  display: flex;
  justify-content: space-between;
  padding: 0 !important;
}
.header {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid rgba(255, 255, 255, 0.24);
  height: 64px;

  a {
    color: #ffffff;

    &:hover {
      color: rgba(255, 255, 255, 0.49);
    }
  }
  nav {
    display: flex;
    align-items: center;
  }

  .logo {
    width: 120px;
    margin-right: 40px;

    a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: 'Exo 2', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;

      img {
        margin-right: 10px;
      }
    }
  }

  &__menu {
    display: flex;
    flex-direction: row;

    li {
      list-style-type: none;
      margin-right: 24px;

      a {
        padding-bottom: 18px;

        &:hover {
          border-bottom: 3px solid #fff;
        }
      }
    }
  }

  &__social-media{
    display: flex;
    align-items: center;
    &_links{
      padding-right: 24px;
      display: flex;
      align-items: center;
      border-right: 1px solid rgba(255, 255, 255, 0.24);
      a{
        margin: 0 8px;
      }
    }
    .icon{
      width: 40px;
      height: 40px;
    }
  }
  &__currencies{
    margin-left: 32px;
    display: flex;
    align-items: center;
    .icon{
      height: 16px;
    }
  }
}