@import
'fonts',
'main',
'welcome',
'traiter',
'advantages',
'trips',
'trip-builder',
'gallery',
'feedback',
'footer',
'tour',
'corporate',
'privacy',
'tours';
html {
  scroll-behavior: smooth;
}
body{
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.12px;
  display: flex;
  flex-direction: column;
  a,a:active,a:link,a:visited{
    text-decoration: none;
  }
  a:hover{
    transition: color .3s, background-color .3s, box-shadow .4s;
  }
  .icon:hover{
    transition: fill .3s;
  }
  .v-application{
     font-family: 'Manrope', sans-serif !important;
     background: transparent !important;
   }

  .wrap {
    display: flex;
    position: relative;
    max-width: 1280px;
    padding: 0 40px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    @media screen and (max-width: 576px) {
      padding: 0 24px;
    }
  }
}
h1,h2,h3,h4,h5{
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}
.currency{
  height: 40px;
  width: 40px;
  @media screen and (max-width: 586px) {
    height: 25px;
    width: 25px;
  }
}
.header {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.24);
  height: 64px;
  z-index: 1;
  &__hamburger-menu{
    display: none;
  }
  .wrap{
    justify-content: space-between;
  }
  a {
    color: #ffffff;
  }
  nav {
    display: flex;
    align-items: center;
  }

  .logo {
    width: 120px;
    margin-right: 40px;

    a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: 'Exo 2', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;

      .icon {
        height: 36px;
      }
    }
  }

  &__menu {
    display: flex;
    flex-direction: row;

    li {
      list-style-type: none;
      margin-right: 24px;

      a {
        padding-bottom: 17px;
        font-weight: 600;
        &:hover {
          border-bottom: 3px solid #fff;
        }
      }
    }
  }

  &__social-media{
    display: flex;
    align-items: center;
    &_links{
      //padding-right: 24px;
      display: flex;
      align-items: center;
      //border-right: 1px solid rgba(255, 255, 255, 0.24);
      a{
        margin: 0 8px;
      }
    }
    .icon{
      fill: #E5EFFF;
      width: 40px;
      height: 40px;
      &:hover{
        fill: #CDE0FF;
      }
    }
  }
  &__currencies{
    margin-left: 32px;
    display: flex;
    align-items: center;
    .icon{
      height: 16px;
    }
  }
}
#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu {
  &__box {
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 375px;
    height: 100%;
    margin: 0;
    padding: 80px 0 24px 0;
    list-style: none;
    background: var(--content-dark, #1C1D20);
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

    transition-duration: .25s;
    .header__currencies{
      margin: 0;
      .icon{
        width: 30px;
        height: 20px;
      }
    }
  }
  &__divider {
    height: 1px;
    background: rgba(255, 255, 255, 0.24);
  }
  &__item {
    display: block;
    padding: 0 24px;
    color: var(--content-white, #FFF);
    font-family: Oswald, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
    transition-duration: .25s;
    &:hover {
      color: var(--content-accent-disable, #898998);
    }
  }
  &__list{
    display: flex;
    flex-direction: column;
    gap: 40px;
    li{
      list-style-type: none;
    }
  }
  &__social-media {
    margin: auto 24px 0 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__phone {
      color: var(--content-white, #FFF);
      font-family: Oswald, sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
    }
    &__links {
      display: flex;
      gap: 16px;

      .icon {
        height: 40px;
        width: 40px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .header {
    height: 72px;

    &__menu {
      display: none;
    }

    &__social-media {
      display: none;
    }

    &__hamburger-menu {
      display: block;
    }
  }
}
@media screen and (max-width: 576px) {
  .header__hamburger-menu{
    .menu__box{
      width: 100%;
    }
  }
}