.feedback{
  display: flex;
  flex-direction: column;
  padding: 121px 0;
  background: url("../images/bg-feedback.jpg");
  background-size: cover;
  color: #1C1D20;
  .wrap{
    flex-direction: column;
  }
  &__header{
    font-family: 'Oswald',sans-serif;
    font-size: 42px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
  }
  &__stars{
    padding-bottom: 16px;
  }
  &__list{
    margin-top: 50px;
    display: flex;
  }
  &__item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 24px;

    .icon{
      width: 40px;
      height: 40px;
    }
  }
  &__comment{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    background: #F6F6FA;
    border-radius: 16px;
    &-author{
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
    }
    &-date{
      color: var(--content-accent-disable, #898998);
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      margin-bottom: 10px;
    }
    &-text{
      line-height: 24px;
    }
    &-link{
      margin-top: 10px;
      color: var(--content-accent, #0062FB);
      text-decoration: underline;
      font-weight: 600;
    }
  }

  &__arrow {
    position: absolute;

    .icon {
      width: 30px;
      height: 30px;
      fill: #0062FB;
    }
  }

  .button-prev {
    top: 2%;
    transform: rotate(180deg);
    left: 40px;
  }

  .button-next {
    top: 2%;
    right: 40px;
  }

  [aria-disabled=true] svg{
    fill: #898998;
  }
}

@media screen and (max-width: 1024px) {
  .feedback {
    padding: 73px 0;
  }
}

@media screen and (max-width: 768px) {
  .feedback {

  }
}
@media screen and (max-width: 576px) {
  .feedback {
    padding: 52px 0;
    &__header{
      font-size: 24px;
      line-height: 28px;
    }
    &__list{
      margin-top: 44px;
    }
    .button-next{
      top: 0;
    }
    .button-prev{
      top: 0;
    }
  }

}