.gallery{
  padding: 120px 0;
  .wrap{
    flex-direction: column;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    text-align: center;
    h2 {
      font-size: 42px;
      line-height: 50px;
      margin: 0 24px;
    }

    .icon {
      width: 64px;
      height: 12px;
    }
  }

  &__filter{
    display: none;
    font-size: 20px;
    line-height: 28px;
    color: #898998;
    //display: flex;
    column-gap: 24px;
    justify-content: center;
    margin-bottom: 32px;

    &-link.active, a:hover {
      color: #1C1D20;
    }
    &-link{
      &:visited, a:focus{
        color: #898998;
      }
    }
  }
  &__list{
    .bigsize{
      width: 792px;
      height: 600px;

    }
    .empty{
      border: 2px dashed #898998;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      padding: 64px;
    }
  }
  &__photo{
    border-radius: 24px;
    overflow: hidden;
    img{
      width: auto;
    }
  }
}
@media screen and (max-width: 1024px) {
  .gallery{
    padding: 70px 0;
    &__header{
      h2{
        font-size: 32px;
        line-height: 48px;
      }
    }

  }
}
@media screen and (max-width: 768px) {
  .gallery{
    padding: 52px 0;
    &__header{
      flex-direction: column;
      gap: 16px;
    }
  }
}
@media screen and (max-width: 576px) {
  .gallery{
    padding: 32px 0;
    &__header{
      padding-bottom: 32px;
      h2 {
        font-size: 24px;
        line-height: 28px;
      }
    }
  }
}