.main {
  background-size: cover;
  background: url("../images/main-bg.jpg") no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  margin: 0;
  height: 100vh;
  display: flex;

  &__banner{
    color: #ffffff;
    margin: auto;
    text-align: center;
    &-welcome{
      font-size: 72px;
      line-height: 106px;
      text-transform: uppercase;
      margin-bottom: 16px;
    }
    &-title{
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 45px;
    }
  }
  &__buttons{
    display: flex;
    justify-content: center;
    a{
      margin: 0 12px;
      max-height: 60px;
      max-width: 204px;
      padding: 16px 24px;
      border-radius: 100px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 0 16px rgba(0, 0, 0, 0.12);
    }
    &_chose-tour{
      background: #0062FB;
      color: #ffffff;
      &:hover{
        background: #0051D0;
      }
    }
    &_do-your{
      background: #E5EFFF;
      color: #0062FB;
      &:hover{
        background: #CDE0FF;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .main{
    background-attachment: scroll;    &__banner{
      &-welcome{
        font-size: 42px;
        line-height: 50px;
        margin-bottom: 8px;
      }
      &-title{
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 32px;
      }
    }
    &__buttons a{
      max-width: 157px;
      padding: 12px 16px;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

@media screen and (max-width: 576px) {
  .main__banner{
    padding: 0 20px;
  }
  .main__banner-welcome{
      font-size: 32px;
      line-height: 48px;
  }
  .main__buttons a{
    padding: 12px 14px;
  }
}

@media screen and (max-width: 376px) {
  .main__buttons {
    flex-direction: column;
    gap: 24px;
    a {
      margin: 0;
      max-width: 100%;
    }
  }
}