.tour{
    &__header{
        height: 578px;
        background-size: cover;
        background-position: center center;
        padding: 184px 0 120px 0;
        color: #FFFFFF;
        .wrap{
            flex-direction: column;
        }
        h1{
            font-size: 42px;
            line-height: 50px;
            margin-bottom: 16px;
        }
    }
    &__title{
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 32px;
    }
    &__tags {
        color: #1C1D20;
        display: flex;
        gap: 8px;
        margin-bottom: 52px;
        .tag {
            padding: 6px 12px;
            font-size: 16px;
            line-height: 24px;
            background: #FFFFFF;
            box-shadow: 0px 2px 4px rgba(0, 10, 31, 0.08), 0px 0px 32px rgba(0, 10, 31, 0.12);
            border-radius: 32px;
        }
        .starts{
            i{
                margin-right: 6px;
                color: #F2C94C;
            }
        }
    }
    &__button{
        &_make-order{
            padding: 16px 24px;
            width: 192px;
            background: #0062FB;
            box-shadow: 0px 2px 4px rgba(0, 10, 31, 0.08), 0px 0px 32px rgba(0, 10, 31, 0.12);
            border-radius: 100px;
            font-size: 20px;
            line-height: 28px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            &:hover{
                background: #0051D0;
            }
        }
    }
    &__description{
        background: #F6F6FA;
        padding: 120px 0;
        .wrap{
            flex-direction: column;
        }
        &_header{
            font-size: 42px;
            line-height: 50px;
            margin-bottom: 16px;
        }
        &_info{
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 50px;
        }
    }
    &__properties-list{
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        margin-bottom: 50px;
    }
    &__properties_item{
        display: flex;
        flex-direction: column;
        &-name{
            font-weight: 600;
            margin-bottom: 16px;
        }
        &-icon{
            display: flex;
            align-items: center;
            .icon{
                width: 32px;
                height: 32px;
                margin-right: 4px;
            }
        }
    }
    &__info{
        padding: 120px 0;
        .wrap{
            flex-direction: column;
        }
        &-header{
            font-size: 42px;
            line-height: 50px;
            margin-bottom: 52px;
        }
        &-list{
            display: flex;
            flex-direction: column;
            gap: 52px;
            .reverse{
                flex-direction: row-reverse;
            }
            &-item{
                display: flex;
                border-radius: 24px;
                background: #F6F6FA;
                &__content{
                    padding: 40px;
                    width: 50%;
                    h2{
                        font-weight: 500;
                        line-height: 28px;
                        margin-bottom: 24px;
                    }
                    p{
                        line-height: 24px;
                    }
                }
                &__image{
                    border-radius: 24px;
                    object-fit: cover;
                    width: 50%;
                }
            }
        }
    }
    &__details{
        min-height: 770px;
        display: flex;
        flex-direction: column;
        padding: 120px 0;
        background: url("../images/bg-feedback.jpg");
        background-size: cover;
        .wrap{
            flex-direction: column;
        }
        &-header{
            &-price{
                color: #1C1D20;
                display: flex;
                align-items: center;
            }
            h1{
                color: #898998;
                font-size: 42px;
                line-height: 50px;
                margin-bottom: 16px;
                display: flex;
                gap: 8px;
            }
            p{
                line-height: 24px;
                margin-bottom: 52px;
            }

        }
        &-info{
            display: flex;
            background: #FFFFFF;
            border-radius: 32px;
            min-height: 252px;
            margin-bottom: 24px;
            h3{
                font-size: 24px;
                line-height: 28px;
                margin-bottom: 32px;
            }
            ul {
                list-style-type: none;
                display: flex;
                flex-direction: column;
                gap: 16px;
                .icon{
                    width: 32px;
                    height: 32px;
                }
                li{
                    display: flex;
                    align-items: center;
                    gap: 16px;
                }
            }
            &__block{
                width: 50%;
                padding: 32px;
                &:nth-child(1){
                    border-right: 4px solid #F6F6FA;
                }
            }
        }
        &-prepayment{
            background: #FFFFFF;
            border-radius: 32px;
            display: flex;
            padding: 24px 32px;
            gap: 32px;
            .icon{
                width: 64px;
                height: 64px;
            }
            h3{
                font-size: 24px;
                line-height: 28px;
                margin-bottom: 12px;
            }
            p{
                line-height: 24px;
            }
        }
    }
    &__calendar{
        padding: 120px 0;
          .wrap{
              display: flex;
              flex-direction: column;
          }
        &-header{
            font-size: 42px;
            line-height: 50px;
        }
        &-info{
            display: flex;
            gap: 32px;
            span{
                display: flex;
                align-items: center;
                gap: 12px;
                &:before {
                    content: "";
                    display: inline-block;
                    width: 32px;
                    height: 32px;
                    border-radius: 8px;
                }
            }
            .close:before{
                background: #F6F6FA;
            }
            .today:before{
                background: #FF9393;
            }
            .free:before{
                border: 2px solid #E3E6EE;
            }
            &-wrap{
                margin: 32px 0;
            }
        }
        &-wrap{
            margin: 40px 0;

            .vfc-main-container{
                border: 1px solid #E3E6EE;
                border-radius: 24px;
                box-shadow: none;
            }
        }
    }
    &__faq{
        background: #F6F6FA;
        padding: 120px 0;
        .wrap{
            display: flex;
            gap: 24px;
        }

        &-info {
            width: 33%;
            &-header {
                font-size: 42px;
                line-height: 50px;
                text-transform: uppercase;
                margin-bottom: 24px;
            }
            p {
                margin-bottom: 24px;
                line-height: 24px;
            }
        }
        &-social{
            .icon{
                fill: #E5EFFF;
                width: 40px;
                height: 40px;
                &:hover{
                    fill: #CDE0FF;
                }
            }
            a:first-child{
                margin-right: 16px;
            }
        }
        &-content{
            width: 66%;
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
        &-item{
            border-radius: 24px;
            background: var(--content-white, #FFF);
            display: flex;
            padding: 24px 32px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 10px;
            &__title{
                font-size: 20px;
                font-weight: 600;
                display: flex;
                justify-content: space-between;
                width: 100%;
                align-items: center;
                cursor: pointer;
                .icon{
                    width: 24px;
                    height: 24px;
                }
            }
            &__description{
                line-height: 24px;
            }
            &__cross{

            }
        }
    }
    &__reviews{
        padding: 120px 0;
        .wrap{
            display: flex;
            flex-direction: column;
        }
        &-header{
            color: var(--content-dark, #1C1D20);
            text-align: center;
            font-size: 42px;
            line-height: 50px;
            margin-bottom: 52px;
        }
    }
    &__review{
        display: flex;
        padding: 32px;
        flex-direction: column;
        border-radius: 24px;
        border: 2px solid var(--border-primary, #E3E6EE);

        &-top {
            display: flex;
            margin-bottom: 16px;
            justify-content: space-between;

            &__userinfo {
                display: flex;
                align-items: center;
                font-family: Oswald, sans-serif;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 28px;
            }

            &__username {
                font-size: 24px;
                line-height: 28px;
                margin-right: 32px;
            }

            &__stars {
                display: flex;
                gap: 8px;
                &-small{
                    display: none;
                }
            }

            &__date {
                color: var(--content-accent-disable, #898998);
                line-height: 24px;
                letter-spacing: 0.12px;
            }
        }
        &-loader{
            display: flex;
            justify-content: center;
        }
        &-list{
            display: flex;
            flex-direction: column;
            gap: 32px;
        }
        &-actions{
            margin-top: 32px;
        }
        &-add-comment{
            padding: 16px 24px;
            background: #0062FB;
            box-shadow: 0px 2px 4px rgba(0, 10, 31, 0.08), 0px 0px 32px rgba(0, 10, 31, 0.12);
            border-radius: 100px;
            font-size: 20px;
            line-height: 28px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            &:hover{
                background: #0051D0;
            }
        }
        .icon {
            width: 41px;
            height: 41px;
        }
    }
}

.tour__dialog {
    .wrap{
        display: flex;
        gap: 24px;
        flex-direction: column;
        padding: 0;
    }
    &-row{
        display: flex;
        gap: 24px;
    }
    &-col{
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    &-header{
        font-size: 42px;
        line-height: 50px;
        margin-bottom: 32px;
    }
    &-input{
        width: 100%;
        padding: 12px 16px;
        border-radius: 16px;
        background: var(--background-primary, #F6F6FA);
    }
    &-label{
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 8px;
    }
    &-button{
        padding: 16px 24px;
        background: #0062FB;
        box-shadow: 0px 2px 4px rgba(0, 10, 31, 0.08), 0px 0px 32px rgba(0, 10, 31, 0.12);
        border-radius: 100px;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        &:hover{
            background: #0051D0;
        }
    }
    textarea{
        height: 140px;
    }
}

@media screen and (max-width: 1024px) {
    .tour {
        &__header, &__details-header {
            h1 {
                font-size: 32px;
                line-height: 48px;
            }
        }
        &__info-header, &__description_header, &__calendar-header, &__faq-info-header, &__reviews-header{
            font-size: 32px;
            line-height: 48px;
        }
        &__title{
            font-size: 16px;
            line-height: 24px;
        }
        &__info, &__calendar, &__description, &__details, &__faq, &__reviews{
            padding: 72px 0;
        }
        &__review{
            padding: 24px;
            &-top{
                flex-direction: column;
                gap: 16px;
                &__userinfo{
                    justify-content: space-between;
                }
                &__stars{
                    display: none;
                    &-small{
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        .icon{
                            width: 32px;
                            height: 32px;
                        }
                    }
                }
            }
        }

    }
}
@media screen and (max-width: 900px) {
    .tour__info-list-item {
        flex-direction: column !important;
        &__content{
            width: 100%;
        }
        &__image{
            width: 100%;
        }
    }
}
@media screen and (max-width: 768px) {
    .tour{
        &__faq{
            .wrap{
                flex-direction: column;
            }
            &-info{
                width: 100%;
            }
            &-content{
                width: 100%;
            }
            &-item__title{
                font-size: 16px;
                line-height: 24px;
            }
        }

    }
}
@media screen and (max-width: 586px) {
    .tour {
        &__header {
            h1 {
                font-size: 24px;
                line-height: 28px;
            }
        }
        &__details-info{
            flex-direction: column;
            &__block{
                width: 100%;
                &:nth-child(1){
                    border-bottom: 4px solid #F6F6FA;
                }
            }
        }
        &__details-header{
            h1 {
                font-size: 24px;
                line-height: 28px;
            }
            p{
                margin-bottom: 32px;
            }
        }
        &__info-header{
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 32px;
        }
        &__description_info{
            margin-bottom: 32px;
        }
        &__info-list-item__content{
            padding: 24px;
        }
        &__properties-list{
            margin-bottom: 32px;
            gap: 32px;
        }
        &__description_header, &__calendar-header, &__faq-info-header, &__reviews-header{
            font-size: 24px;
            line-height: 28px;
        }
        &__info, &__description, &__details, &__faq, &__reviews{
            padding: 40px 0;
        }
        &__calendar-info{
            gap: 32px;
            flex-direction: column;
        }
    }
}