.trip-builder {
  background: url('../images/trip-builder-bg.png');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  position: relative;
  overflow: hidden;
  &__cloud{
    position: absolute;
    opacity: 0.9;
    left: 0;
    top: 0;
  }
  &__content{
    padding-top: 276px;
    flex-direction: column;
    max-width: 520px;
    .icon{
      width: 64px;
      height: 12px;
      margin: 32px 0;
    }
  }
  &__header{
    font-family: 'Oswald', sans-serif;
    font-size: 42px;
    line-height: 50px;
  }
  &__title{
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 52px;
  }
  &__button_chose-tour{
    width: 204px;
    padding: 16px 24px;
    border-radius: 100px;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%), 0 0 16px rgb(0 0 0 / 12%);
    background: #0062FB;
    color: #ffffff;
    &:hover{
      background: #0051D0;
    }
  }
  &__link{
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #6FBAFF;
  }
}
.tooltip {
  display: block !important;
  z-index: 10000;

  .tooltip-inner {
    background: #1C1D20;
    color: #ffffff;
    border-radius: 16px;
    padding: 5px 10px 4px;
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
    z-index: 1;
  }

  &[x-placement^="top"] {
    margin-bottom: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: 5px;

    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="right"] {
    margin-left: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: 5px;

    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &.popover {
    .popover-inner {
      background: #1C1D20;
      color: #ffffff;
      padding: 15px;
      border-radius: 12px;
      box-shadow: 0 5px 30px rgba(black, .1);
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
}
