.trips {
  color: #1C1D20;
  background: #F6F6FA;
  padding: 120px 0;
  position: relative;
  .wrap{
    flex-direction: column;
  }
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    h2 {
      margin-top: 24px;
      font-size: 42px;
      line-height: 50px;
    }

    .icon {
      width: 64px;
      height: 12px;
    }
  }
  &-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
}

.trip{
  position: relative;
  background: #FFFFFF;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  width: 588px;
  height: 588px;
  overflow: hidden;
  &:hover{
    transition: box-shadow .3s;
    box-shadow: 0px 0px 4px rgba(0, 10, 31, 0.06), 0px 0px 32px rgba(0, 10, 31, 0.08);
  }
  &__info{
    display: flex;
    flex-direction: column;
    padding: 24px;
    height: 100%;
    &-title{
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 12px;
    }
    &-description{
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      height: 96px;
      overflow: hidden;
    }
  }
  &__footer{
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-amount{
      font-size: 42px;
      line-height: 50px;
      display: flex;
      align-items: center;
    }
    &-book{
      display: flex;
      justify-content: center;
      a{
        padding: 12px 16px;
        background: #E5EFFF;
        border-radius: 100px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #0062FB;
        margin-left: 24px;
        &:hover{
          background: #CDE0FF;
        }
      }
    }
    &-duration{
      display: flex;
      flex-direction: column;
      font-size: 14px;
      line-height: 22px;

      span{
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
  &__tags{
    position: absolute;
    display: flex;
    top: 12px;
    left: 12px;
    gap: 8px;
    .tag{
      padding: 6px 12px;
      font-size: 16px;
      line-height: 24px;
      background: #FFFFFF;
      box-shadow: 0px 2px 4px rgba(0, 10, 31, 0.08), 0px 0px 32px rgba(0, 10, 31, 0.12);
      border-radius: 32px;
    }
    .starts{
      i{
        margin-right: 6px;
        color: #F2C94C;
      }
    }
  }

  .currency {
    height: 40px;
    width: 40px;
  }

}