.welcome{
  padding: 120px 0 0;
  display: flex;
  color: #1C1D20;
  .wrap{
    position: relative;
  }
  &__info {
    width: 588px;
    display: flex;
    margin-right: 20px;
    flex-direction: column;
    justify-content: center;

    .icon{
      height: 12px;
      width: 64px;
      margin: 24px 0;
    }

    h2 {
      font-size: 42px;
      line-height: 50px;
    }
    p{
      font-size: 20px;
      line-height: 28px;
      margin: 8px 0;
    }
  }
  &__photo{
    width: 588px;
    img{
      width: 100%;
    }
  }
  .arrow-icon{
    position: absolute;
    width: 115px;
    height: 144px;
    bottom: -20%;
    right: 53%;
  }
}
@media screen and (max-width: 1200px) {
  .welcome{
    &__info{
      h2{
        font-size: 32px;
        line-height: 48px;
      }
      P{
        font-size: 16px;
        line-height: 24px
      }
    }
    &__photo{

    }
  }
}
@media screen and (max-width: 1024px) {
  .welcome{
    padding: 72px 0 0;
  }
  .arrow-icon{
    display: none;
  }

}

@media screen and (max-width: 768px) {
.welcome .wrap{
  display: flex;
  gap: 24px;
  flex-direction: column;
}
  .welcome{
    &__info{
      margin: 0;
      width: 100%;
      h2{
        font-size: 24px;
        line-height: 28px;
      }
    }
    &__photo{
      width: 100%;
    }
  }
}
@media screen and (max-width: 576px) {
  .welcome .wrap{
    display: flex;
    gap: 24px;
    flex-direction: column;
  }
  .welcome{
    padding: 40px 0 0;
    &__info{
      margin: 0;
      width: 100%;
    }
    &__photo{
      width: 100%;
    }
  }
}