<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>{% block title %}Discover georgia{% endblock %}</title>
    <meta name="keywords" content="{% block page_keywords %}travel,georgia,trips{% endblock %}">
    <meta name="description" content="{% block page_description %}Travel site{% endblock %}">
    <link rel="icon" type="image/x-icon" href="{{ asset('build/images/icons/favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ asset('build/styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    {{ encore_entry_link_tags('front') }}
</head>

<body>
<header class="header">
    <nav>
        <div class="logo">
            <img src="" alt="">
        </div>
        <ul>
            <li>О нас</li>
            <li>Туры</li>
            <li>Компаниям</li>
        </ul>
    </nav>
</header>

<main id="app" class="main">

    {% block main %}

    {% endblock %}
</main>

<footer class="footer">

</footer>
    {{ encore_entry_script_tags('front') }}
</body>
</html>
<script>

</script>