{% extends 'base.html.twig' %}

{% block title %}Gamardjoba!{% endblock %}
{% block page_keywords %}Gamardjoba!{% endblock %}
{% block page_description %}Gamardjoba!{% endblock %}

{% block main %}

    <section class="main">
        <div class="main__banner">
            <h1 class="main__banner-welcome">
                каждый день, <br>
                как новое приключение
            </h1>
            <h3 class="main__banner-title">
                Открывайте Грузию, пробуйте лучше национальные блюда <br>
                и встречайте закаты вместе с нами в авторских турах
            </h3>
            <div class="main__buttons">
                <a class="main__buttons_chose-tour" href="#">ВЫБРАТЬ ТУР</a>
                <a class="main__buttons_do-your" href="#">СОЗДАТЬ СВОЙ</a>
            </div>
        </div>
    </section>
    <section class="welcome">

    </section>
    <section class="trailer"></section>
    <section class="advantages"></section>
    <section class="trips"></section>
    <section class="trip-builder"></section>
    <section class="gallery">
    </section>
    <section class="feedback"></section>
{% endblock %}