{% extends 'base.html.twig' %}

{% block title %}Gamardjoba!{% endblock %}
{% block page_keywords %}Gamardjoba!{% endblock %}
{% block page_description %}Gamardjoba!{% endblock %}

{% block main %}

    <section class="main">
        <div class="main__banner">
            <h1 class="main__banner-welcome">
                каждый день, <br>
                как новое приключение
            </h1>
            <h3 class="main__banner-title">
                Открывайте Грузию, пробуйте лучше национальные блюда <br>
                и встречайте закаты вместе с нами в авторских турах
            </h3>
            <div class="main__buttons">
                <a class="main__buttons_chose-tour" href="#">ВЫБРАТЬ ТУР</a>
                <a class="main__buttons_do-your" href="#">СОЗДАТЬ СВОЙ</a>
            </div>
        </div>
    </section>
    <section class="welcome">
        <div class="container">
            <div class="welcome__info">
                <h2>ДАВАЙТЕ ЗНАКОМИТЬСЯ!</h2>
                <svg class="icon">
                    <use xlink:href="#lightning"></use>
                </svg>
                <p>Откройте для себя Грузию вместе с нами — командой Discovery Georgia.</p>
                <p>С 2016 года мы создаем незабываемые впечатления, грузинскую атмосферу, прекрасные фотографии и
                    мероприятия в лучших традициях грузинских застолий.</p>
            </div>
            <div class="welcome__photo">
                <img src="{{ asset('build/images/welcome.png') }}" alt="welcome">
            </div>
        </div>
    </section>
    <section class="trailer">


                <Trailer image="{{ asset('build/images/trailer.png') }}" :video-id="'hB4kS3Ji-T0'" />

    </section>
    <section class="advantages"></section>
    <section class="trips"></section>
    <section class="trip-builder"></section>
    <section class="gallery">
    </section>
    <section class="feedback"></section>
{% endblock %}