{% extends 'base.html.twig' %}

{% block title %}Gamardjoba!{% endblock %}
{% block page_keywords %}Gamardjoba!{% endblock %}
{% block page_description %}Gamardjoba!{% endblock %}

{% block main %}

    <section class="main"></section>
    <section class="welcome"></section>
    <section class="trailer"></section>
    <section class="advantages"></section>
    <section class="trips"></section>
    <section class="trip-builder"></section>
    <section class="gallery">
        <Gallery></Gallery>
    </section>
    <section class="feedback"></section>
{% endblock %}