<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Discover georgia</title>
    <meta name="description" content="Скоро мы придем к вам с нашими интересными турами">
    <meta name="robots" content="nosnippet" />
    <style >
        body{
            margin: 0;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(/build/images/maitenance-bg.jpg) no-repeat;
            background-attachment: fixed;
            background-position: center center;
            background-size: cover
        }
        .main{
            max-width: 915px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .main__header{
            font-family: 'Oswald', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 20px;
            letter-spacing: 0.04em;
            color: #FFFFFF;
            background: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(50px);
            padding: 16px 24px;
            border-radius: 32px;
            margin-bottom: 52px;
        }
        .main__content{
            color: #FFFFFF;
            text-align: center;
            text-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
        }
        .main__content h1{
            font-family: 'Oswald', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 72px;
            line-height: 92px;
            margin: 0;
            text-transform: uppercase;
        }
        .main__content p{
            font-family: 'Manrope',sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: 0.04em;
        }
        footer{
            margin-top: 30px;
            display: flex;
        }
        .main__footer_icon{
            display: flex;
            align-items: center;
            padding: 12px 30px;
            font-family: 'Manrope',sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: 0.52px;
            box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.12);
            border-radius: 52px;
            text-decoration: none;
        }
        .icon-ws{
            color: #FFFFFF;
            background: #00D051;
            margin-right: 30px;
        }
        .icon-tg{
            color: #0062FB;
            background: #E5EFFF;
        }
        @media (max-width: 1024px) {
            .main {
                max-width: 700px;
                padding: 15px;
            }
            .main__header{
                font-size: 30px;
                line-height: 30px;
            }
            .main__content p {
                font-size: 28px;
                line-height: 40px;
            }
            footer{
                width: 100%;
                flex-direction: column;
            }
            .main__footer_icon{
                font-size: 30px;
                margin: 15px 0;
                padding: 24px 16px;
                justify-content: center;
            }
        }
    </style>
</head>
<body>
<div class="main">
    <header class="main__header">Discover Georgia</header>
    <main class="main__content">
        <h1>Сайт находится на обслуживании</h1>
        <p>
            Скоро мы придем к вам с нашими интересными экскурсиями. <br>
            Мы с нетерпением ждем, когда вы присоединитесь к нам в этом приключении! <br>
            А пока, вы можете забронировать тур на других наших платформах: <br>
        </p>
    </main>
    <footer>
        <a class="main__footer_icon icon-ws" href="https://wa.me/995558146200?text=%D0%9F%D1%80%D0%B8%D0%B2%D0%B5%D1%82!%20%F0%9F%91%8B%20%D0%A5%D0%BE%D1%87%D1%83%20%D0%BF%D0%BE%D1%81%D0%BC%D0%BE%D1%82%D1%80%D0%B5%D1%82%D1%8C%20%D0%B2%D1%81%D1%8E%20%D0%93%D1%80%D1%83%D0%B7%D0%B8%D1%8E">
            WhatsApp</a>
        <a class="main__footer_icon icon-tg" href="https://experience.tripster.ru/experience/9896/">
            Tripster</a>
    </footer>
</div>
</body>
</html>